:root {
  font-size: calc(0.5em + 1vw);
}
*, ::before, ::after {
  box-sizing: border-box;
}
html {
  height: 100%;
  overflow: hidden;
}
body {
  height: 100%;
}
article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
article .views-element-container,
article .views-element-container .view,
article .views-element-container .view .view-content {
  height: 100%;
}
a {
  color: initial;
  text-decoration: none;
}
.field--label-visually_hidden .field__label {
  display: none;
}
div[data-contextual-id] {
  display: none;
}
