{#
/**
 * @file
 * Default theme implementation to present a digital_signage_computed_content entity.
 *
 * This template is used when viewing a registered digital_signage_computed_content's page,
 * e.g., /admin/content/digital-signage-computed-content)/123. 123 being the digital_signage_computed_content's ID.
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 *   print a subset such as 'content.title'.
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_digital_signage_computed_content()
 */
#}
<article{{ attributes }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</article>
