{% if full_html %}
<!DOCTYPE html>
<html{{ html_attributes }}>
<head>
  <title>Digital Signage</title>
  <styles/>
  <scripts/>
</head>
<body{{ attributes }}>
{{ content }}
<scripts_bottom/>
</body>
</html>
{% else %}
{{ content }}
{% endif %}
